<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/estilo.css">
  
  <title>Minha página com EJS</title>
  <script src="javascript/scripts.js"></script>
</head>
<body>
  <div class=cabecalho>
    <div class=titulo>
      Node News
    </div>
  </div>
</br>

  <div class=titulomeio>
    <div class=meio1>
    <h2>Escolha o Node News como o seu site principal de notícias, saiba o porque logo abaixo:</h2>
    </div>
  </div>

  <div class=meio>
    <div class=meio2>
      <p>Aqui temos notícias globais e diárias, que trazem para você um melhor nível de acompanhamento das novidades mundiais, acoplando em um único site, todos os tipos de notícias, desde o mundo dos esportes, política, meio ambiente, até o mundo da moda, redes sociais e saúde.</p>
    </div>
  </div>

  <div class=rodape>
    <footer>
    Entre em Contato:
    ana.nicoletti@estudante.ifms.edu.br
</br>
    Rua: Martins Nº 333 Bairro: Silveira
    </footer>
  </div>

</body>
</html>